<form method="post" action="/user">
    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" value="@ViewBag.name" />
    </div>
    <div class="form-group">
         <label for="email">Email</label>
         <input name="email" type="email" value="@ViewBag.email"/>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" />
        <label for="verify">Verify Password</label>
        <input name="verify" type="password" />
        @if (ViewBag.error!= null)
        {
            <p>@ViewBag.error</p>
        }
    </div>
    <input type="submit" value="Submit" />
</form>